/* Drill 1 - Write your code solution below */
.dario {
   margin: 25px auto;
   max-width: 800;
}

.dario img, .hero .content {
     display: inline-block;
     width: 50%;
     margin: 0;
}


/* Drill 2 - Write your code solution below */


/* Drill 3 - Write your code solution below */


/* Drill 4 - Write your code solution below */


/* Drill 5 - Write your code solution below */


/* Drill 6 - Write your code solution below */
