body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#license {
    width: 340px;
    height: 210px;
    background: #c5e1a5;
    border: 3px solid #558b2f;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
    overflow: hidden;
}

#license::before, 
#license::after {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background: radial-gradient(circle, #fff8e1, #c5e1a5);
    border-radius: 50%;
}

#license::before {
    top: -30px;
    left: -30px;
}

#license::after {
    bottom: -30px;
    right: -30px;
}

#content h1 {
    text-align: center;
    margin-top: 0;
    color: #1b5e20;
    font-size: 16px;
}

#left-side, #right-side {
    display: inline-block;
    vertical-align: top;
}

#left-side {
    width: 68%;
    padding-right: 5px;
    border-right: 1px dashed #1b5e20;
}

#id-and-expiration {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#id-and-expiration div {
    background-color: #aed581;
    padding: 3px;
    border-radius: 6px;
    font-size: 10px;
}

#address {
    background-color: #aed581;
    margin-top: 10px;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    font-size: 10px;
}

#personal-info {
    margin-top: 10px;
    display: flex;
}

#small-pic {
    width: 30%;
}

#small-pic img {
    border: 3px solid #1b5e20;
    border-radius: 50%;
    max-width: 100%;
    display: block;
}

#data-fields {
    width: 65%; /* remaining space */
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    font-size: 9px;
}

#data-left, #data-right {
    width: 48%; /* nearly half, with some space in between */
}

#data-left div, #data-right div {
    background-color: #aed581;
    margin-top: 5px;
    padding: 3px;
    border-radius: 6px;
}

#signature {
    text-align: right;
    margin-top: 5px;
    font-style: italic; /* To mimic signature style */
    font-size: 12px;
    color: #1b5e20;
}

#right-side {
    width: 30%;
    padding-left: 5px;
    text-align: center;
}

#right-side img {
    width: 60%;
    margin-top: 5px;
    border: 3px solid #1b5e20;
    border-radius: 6px;
}

#donor-and-real-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#donor, #real-id {
    background-color: #aed581;
    padding: 5px;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 10px;
}

.fa-heart, .fa-star {
    font-size: 12px;
    color: #e57373;
    margin-right: 3px;
}
