/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}
.orange {
    background-color:red;
    border-color:red;
}
.teal {
    background-color:greenyellow;
    border-color:greenyellow;
}
.lavender {
    background-color: white;
    border-color: white;
}
.beach {
    background-color: #ffe299;
    border-color: #ffe299;
}
.wine {
    background-color: rgb(93, 19, 0);
    border-color: rgb(93, 19, 0);
}
.hidden {
    background-color: red;
    border-color: red;
}

.wide {
    padding: 20px 52px;
}
.round {
    border-radius: 100%;
}
.weird-round {
    border-radius: 50% 20%;
}
.purple {
    background-color: purple;
    border-color: purple;
}
.blue {
    background-color: blue;
    border-color: blue;
}
.yellow {
    background-color: yellow;
    border-color: yellow;
}
.green {
    background-color: green;
    border-color: green;
}
.white {
    background-color: white;
    border-color: white;
}
.pink {
    background-color: pink;
    border-color: pink;
}
.aqua {
    background-color: aqua;
    border-color: aqua;
}
.orange {
    background-color:orange ;
    border-color: orange;
}
.white {
    background-color: white;
    border-color: purple;
}
.purple {
    background-color: blueviolet;
    border-color: purple
}
.white {
    background-color:aqua;
    border-color : beige
}
.yellow {
    background-color:yellow;
    border-color:yellow;
}
.blue {
    background-color: burlywood;
    border-color: pink;
}
.green {
    background-color: greenyellow;
    border-color: greenyellow;
}
.beach {
    background-color:blanchedalmond;
    border-color:yellowgreen ;
}
.yellow {
    background-color: powderblue;
    border-color: aqua;
}
.blue {
    background-color: lavender;
    border-color: lavender;
}
.red {
    background-color: red;
    border-color: red;
}
.yellow {
    background-color: yellow;
    border-color: yellow;
}
.yellow {
    background-color: yellow;
    border-color: yellow;
}
.red {
    background-color: red;
    border-color: red;
}
.yellow {
    background-color: yellow;
    border-color: yellow;
}
.red {
    background-color: red;
    border-color: red;
}
.pink {
    background-color: pink;
    border-color: pink;
}
.white {
    background-color: white;
    border-color: white;
}